@charset "UTF-8";
@font-face {
  font-family: "Lato-Semibold";
  src: url(assets/fonts/Lato-Semibold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Lato-Light";
  src: url(assets/fonts/Lato-Light.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Lato-Black";
  src: url(assets/fonts/Lato-Black.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

main .about-us_background-color .about-us .our-team .developer1, main .about-us_background-color .about-us .our-team .developer2, main .about-us_background-color .about-us .our-team .developer3 {
  width: 300px;
  height: 444px; }
  main .about-us_background-color .about-us .our-team .developer1 h3, main .about-us_background-color .about-us .our-team .developer2 h3, main .about-us_background-color .about-us .our-team .developer3 h3 {
    font-size: 1.125rem;
    color: #666d89;
    font-family: "Lato-Black", Arial, Helvetica, sans-serif;
    margin: 11px 0 23px -1px;
    letter-spacing: -0.005rem; }
  main .about-us_background-color .about-us .our-team .developer1 p, main .about-us_background-color .about-us .our-team .developer2 p, main .about-us_background-color .about-us .our-team .developer3 p {
    font-size: 0.75rem;
    color: #767e9e;
    font-family: "Lato-Light";
    margin: -15px 0 23px -1px;
    letter-spacing: -0.02rem;
    word-spacing: 0.13rem;
    line-height: 22px; }
  main .about-us_background-color .about-us .our-team .developer1 .social-networks, main .about-us_background-color .about-us .our-team .developer2 .social-networks, main .about-us_background-color .about-us .our-team .developer3 .social-networks {
    width: 160px;
    display: flex;
    justify-content: space-around;
    margin: -1px 0 0 -3px; }

* {
  margin: 0;
  padding: 0; }

.header_background-color {
  width: 100%;
  height: 95px;
  background-color: #2d303a;
  box-shadow: inset 0px -6px #323746; }
  .header_background-color header {
    display: flex;
    align-content: center;
    width: 1020px;
    height: 89px;
    margin: 0 auto; }
    .header_background-color header h1 {
      display: flex;
      align-items: center;
      margin: -3px 0 0 40px;
      color: white;
      font-weight: 500;
      font-size: 1.5625rem;
      letter-spacing: -0.035rem;
      font-family: "Lato-Semibold", Arial, Helvetica, sans-serif; }
      .header_background-color header h1 span {
        font-family: "Lato-Light";
        margin: 3px 0 0 -1px;
        color: #f06c64;
        font-size: 1.7825rem; }
    .header_background-color header .navigation {
      display: flex;
      align-content: center;
      justify-content: space-between;
      width: 371px;
      color: white;
      font-size: 0.715rem;
      margin: 43px 0 0 452px;
      letter-spacing: 0.012rem;
      font-family: "Lato-Semibold", Arial, Helvetica, sans-serif;
      list-style-type: none; }
      .header_background-color header .navigation li:not(:nth-child(1))::before {
        position: absolute;
        opacity: 0.15;
        content: "·";
        margin: -1px -16px; }
      .header_background-color header .navigation li:hover {
        color: #f06c64;
        cursor: pointer; }

main {
  margin: 0 auto; }
  main .portfolio_background-color {
    width: 100%;
    height: 870px;
    background-color: #2d303a;
    box-shadow: inset 0px -6px #323746; }
    main .portfolio_background-color .portfolio {
      width: 1020px;
      height: 863px;
      margin: 0 auto; }
      main .portfolio_background-color .portfolio h2 {
        font-size: 1.875rem;
        color: #666d89;
        padding: 59px 0 33px 40px;
        letter-spacing: -0.01rem;
        font-family: "Lato-Black", Arial, Helvetica, sans-serif;
        font-weight: 700; }
      main .portfolio_background-color .portfolio p {
        width: 940px;
        font-size: 1.125rem;
        color: #767e9e;
        font-family: "Lato-Light";
        margin: -11px 0 23px 40px;
        letter-spacing: -0.02rem;
        word-spacing: 0.04rem; }
      main .portfolio_background-color .portfolio nav {
        display: flex;
        justify-content: space-around;
        width: 297px;
        margin: -8px 0 0 36px; }
        main .portfolio_background-color .portfolio nav button {
          font-size: 0.75rem;
          color: #767e9e;
          font-family: "Lato-Light";
          background: rgba(0, 0, 0, 0);
          border: 1px solid #666d89;
          outline: none;
          border-radius: 5px; }
        main .portfolio_background-color .portfolio nav button:hover {
          color: #f2f2f2;
          border-color: #f2f2f2;
          cursor: pointer; }
        main .portfolio_background-color .portfolio nav .all {
          width: 29px;
          height: 22px; }
        main .portfolio_background-color .portfolio nav .web-design {
          width: 78px;
          height: 22px; }
        main .portfolio_background-color .portfolio nav .graphic-design {
          width: 93px;
          height: 22px;
          padding-left: 1px; }
        main .portfolio_background-color .portfolio nav .artwork {
          width: 57px;
          height: 22px; }
      main .portfolio_background-color .portfolio .work-examples {
        display: flex;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: wrap;
        margin: 9px 0 0px 30px;
        width: 960px;
        height: 621px; }
  main .about-us_background-color {
    width: 100%;
    height: 734px;
    box-shadow: inset 0px -6px #ffffff;
    background-color: #f2f2f2; }
    main .about-us_background-color .about-us {
      width: 1020px;
      height: 728px;
      margin: 0 auto; }
      main .about-us_background-color .about-us h2 {
        font-size: 1.875rem;
        color: #666d89;
        padding: 59px 0 33px 40px;
        letter-spacing: -0.01rem;
        font-family: "Lato-Black", Arial, Helvetica, sans-serif;
        font-weight: 700; }
      main .about-us_background-color .about-us .about-us_description {
        width: 940px;
        font-size: 1.125rem;
        color: #767e9e;
        font-family: "Lato-Light";
        margin: -13px 0 23px 40px;
        letter-spacing: -0.02rem;
        word-spacing: 0.13rem;
        line-height: 29px; }
      main .about-us_background-color .about-us .our-team {
        display: flex;
        justify-content: space-around;
        width: 960px;
        margin: 45px 0 0 30px; }
        main .about-us_background-color .about-us .our-team .developer2 {
          margin: 0px 1px 0 0px; }
        main .about-us_background-color .about-us .our-team .developer3 .social-networks {
          margin: -1px 0 0 -4px; }

