@charset "UTF-8";
@font-face {
  font-family: "Lato-Semibold";
  src: url(assets/fonts/Lato-Semibold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Lato-Light";
  src: url(assets/fonts/Lato-Light.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Lato-Black";
  src: url(assets/fonts/Lato-Black.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0; }

.header_background-color {
  width: 100%;
  height: 95px;
  background-color: #2d303a;
  box-shadow: inset 0px -6px #323746; }
  .header_background-color header {
    display: flex;
    align-content: center;
    width: 1020px;
    height: 89px;
    margin: 0 auto; }
    .header_background-color header h1 {
      display: flex;
      align-items: center;
      margin: -3px 0 0 40px;
      color: white;
      font-weight: 500;
      font-size: 1.5625rem;
      letter-spacing: -0.035rem;
      font-family: "Lato-Semibold", Arial, Helvetica, sans-serif; }
      .header_background-color header h1 span {
        font-family: "Lato-Light";
        margin: 3px 0 0 -1px;
        color: #f06c64;
        font-size: 1.7825rem; }
    .header_background-color header .navigation {
      display: flex;
      align-content: center;
      justify-content: space-between;
      width: 371px;
      color: white;
      font-size: 0.715rem;
      margin: 43px 0 0 452px;
      letter-spacing: 0.012rem;
      font-family: "Lato-Semibold", Arial, Helvetica, sans-serif;
      list-style-type: none; }
      .header_background-color header .navigation li:not(:nth-child(1))::before {
        position: absolute;
        opacity: 0.15;
        content: "·";
        margin: -1px -16px; }
      .header_background-color header .navigation li:hover {
        color: #f06c64;
        cursor: pointer; }

main {
  margin: 0 auto; }
  main .slider_background-color {
    width: 100%;
    height: 600px;
    background-color: #f06c64;
    box-shadow: inset 0px -6px #ea676b; }
    main .slider_background-color .slider {
      width: 1020px;
      height: 594px;
      margin: 0 auto; }
      main .slider_background-color .slider .slider_left-array {
        position: absolute;
        margin: 281px 0 0 42px;
        cursor: pointer; }
      main .slider_background-color .slider .phone-vertical {
        display: inline-block;
        margin: 53px 73px 0 112px; }
      main .slider_background-color .slider .phone-horizontal {
        display: inline-block;
        margin: 0 0 122px -4px; }
      main .slider_background-color .slider .slider_right-array {
        position: absolute;
        margin: 281px 0 0 55px;
        cursor: pointer; }
  main .services_background-color {
    width: 100%;
    height: 500px;
    background-color: #f2f2f2; }
    main .services_background-color .services {
      width: 1020px;
      height: 495px;
      margin: 0 auto; }
      main .services_background-color .services .services_description {
        width: 980px;
        height: 104px;
        padding-top: 65px; }
        main .services_background-color .services .services_description h2 {
          font-size: 1.875rem;
          color: #666d89;
          margin: -6px 0 33px 40px;
          letter-spacing: -0.01rem;
          font-family: "Lato-Black", Arial, Helvetica, sans-serif;
          font-weight: 700; }
        main .services_background-color .services .services_description .services_description_first-line {
          font-size: 1.125rem;
          color: #767e9e;
          margin: -10px 0 33px 40px;
          letter-spacing: -0.001rem;
          word-spacing: -0.016rem;
          font-family: "Lato-Light", Arial, Helvetica, sans-serif; }
        main .services_background-color .services .services_description .services_description_second-line {
          font-size: 1.125rem;
          color: #767e9e;
          margin: -26px 0 33px 40px;
          letter-spacing: -0.0005rem;
          word-spacing: -0.09rem;
          font-family: "Lato-Light", Arial, Helvetica, sans-serif; }
      main .services_background-color .services .services_list {
        display: flex;
        flex-wrap: wrap;
        margin: 36px 0 0 40px; }
      main .services_background-color .services .list-item {
        display: flex;
        width: 319px;
        height: 88px;
        margin: 0 0 35px 0; }
        main .services_background-color .services .list-item img {
          margin: 1px 0 0 1px; }
        main .services_background-color .services .list-item h3 {
          font-size: 1.125rem;
          color: #666d89;
          font-family: "Lato-Black", Arial, Helvetica, sans-serif;
          margin: 11px 0 23px 20px;
          letter-spacing: -0.005rem; }
        main .services_background-color .services .list-item p {
          width: 219px;
          font-size: 0.75rem;
          line-height: 22px;
          color: #767e9e;
          font-family: "Lato-Light";
          margin: -15px 0 23px 20px;
          letter-spacing: -0.01rem;
          word-spacing: 0.11rem;
          text-align: justify; }

